name: Continuous Integration and Deployment

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: 'read'
      id-token: 'write'

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and Push Docker image
        run: |
          docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/data-extraction:latest .
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/data-extraction:latest

      - name: Authenticate to Google Cloud
        uses: google-github-actions/auth@v2
        with:
          credentials_json: ${{ secrets.GOOGLE_SA_KEY }}

      - name: Set up Cloud SDK
        uses: google-github-actions/setup-gcloud@v2

      - name: Deploy to Cloud Run
        run: |
          # Prepare encoded secret for app environment variable
          ENCODED_SECRET=$(echo -n '${{ secrets.GOOGLE_SA_KEY }}' | base64 | tr -d '\n')
          
          gcloud run deploy data-extraction \
            --image=${{ secrets.DOCKERHUB_USERNAME }}/data-extraction:latest \
            --platform=managed \
            --region=us-east1 \
            --project=pelagic-campus-484800-b3 \
            --allow-unauthenticated \
            --set-env-vars ENCODED_SECRET="$ENCODED_SECRET"